albumentations
accelerate
huggingface_hub[cli]
ipykernel
ipywidgets
jupyterlab
matplotlib
mlx-vlm
notebook
numpy
opencv-python
pandas
pillow
python-dotenv
reportlab
requests
scikit-image
scipy
segment-anything
segmentation-models-pytorch
torch
torchvision
transformers
